name: buildbot
permissions:
  actions: read
  contents: read
  security-events: write

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  check:
    name: Static analysis
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Check with Gradle
        uses: eskatos/gradle-command-action@v1.3.3
        with:
          arguments: staticAnalysis
      - name: Upload SARIF to Github using the upload-sarif action
        uses: github/codeql-action/upload-sarif@v1
        if: ${{ always() }}
        with:
          sarif_file: app/build/reports/sarif/
